@charset "UTF-8";
/*
1.变量
2.@mixin       不带参数的，带参数的，参数带默认值的
  @include
  模块化外链     @import 引用外部文件
3.自定义函数
  @function
  函数名
  自定义的函数  
  @function（参数）{
    条件语句
    循环语句
  }
4.% 占位符
5.继承
*/
/*自定义函数*/
body {
  font-size: 0.32rem;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  width: 100%;
  height: 1.06667rem;
  line-height: 1.06667rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

header span {
  font-size: 0.53333rem;
}

header .h-left {
  position: absolute;
  left: 0.37333rem;
  top: 0;
}

header .h-left i {
  font-size: 0.42667rem;
}

.zibtn {
  display: flex;
  width: 100%;
  height: 1.06667rem;
  line-height: 1.06667rem;
  border-bottom: 1px solid #ccc;
}

.zibtn span {
  flex: 1;
  text-align: center;
}

footer {
  width: 100%;
  height: 1.6rem;
  box-sizing: border-box;
  padding: 0 0.53333rem 0 0.26667rem;
  background: #313131;
}

footer dl {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer dl dt {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #636363;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer dl dt .nana {
  font-size: 0.53333rem;
  color: #fff;
}

footer dl dd {
  color: #fff;
}

footer dl dd h4 {
  font-weight: normal;
}

section {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section .box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #e8e8e8;
}

section .scroll {
  margin-top: 0.32rem;
  width: 100%;
  height: auto;
  background: #fff;
}

.login {
  box-sizing: border-box;
  padding: 0 0.4rem;
  width: 100%;
  height: 2.4rem;
  border-bottom: 1px solid #ccc;
}

.login dl {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login dl dt {
  flex-shrink: 0;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  text-align: center;
  line-height: 1.6rem;
  background: #e8e8e8;
}

.login dl dt i {
  font-size: 0.8rem;
}

.login dl dd {
  font-size: 0.53333rem;
  flex: 1;
  margin-left: 0.32rem;
}

.peizhi {
  width: 100%;
  height: auto;
}

.peizhi dl {
  width: 100%;
  height: 1.6rem;
  line-height: 1.6rem;
  display: flex;
  align-items: center;
}

.peizhi dl dt {
  flex-shrink: 0;
  width: 1.33333rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.peizhi dl dt img {
  width: 0.58667rem;
  height: 0.58667rem;
  font-size: 0;
}

.peizhi dl dd {
  flex: 1;
  height: 100%;
  font-size: 0.53333rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.peizhi dl dd i {
  font-size: 0.4rem;
  margin-right: 0.4rem;
}
